<!-- Button trigger modal -->
<button type="button" title="Excluir" class="waves-effect waves-light btn red" data-toggle="modal" data-target="#rmModalId<%= object.id %>">
  <i class="material-icons">delete_forever</i>
</button>

<!-- Modal -->
<div class="modal fade" id="rmModalId<%= object.id %>" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Deseja realmente deletar?</h4>
      </div>
      <div class="modal-body">
        <%= object[identification] %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal"><%= translate_action(:cancel) %></button>
        <%= link_to translate_action(:destroy), object, method: :delete, class: "btn red" %>
      </div>
    </div>
  </div>
</div>
