<div class="row">
  <div class="card z-depth-4">
    <div class="card-content">
      <%= render 'layouts/helpers/search_box',
        model: model,
        controller: controller,
        search_match: search_match %>
        
        <table class="centered responsive-table">
          <thead>
            <tr>
              <% attributes.each do |attr| %>
                <th> <%= attr.is_a?(Hash) ? translate_attr(attr[:model], model) : translate_attr(attr, model) %> </th>
              <% end %>
              <th colspan="<%= actions.count %>"></th>
            </tr>
          </thead>

          <tbody>
            <% collection.each do |object| %>
              <tr>
                <% attributes.each do |attr| %>
                  <td> <%= attr.is_a?(Hash) ? object.send(attr[:model])[attr[:attr]] : object[attr] %> </td>
                <% end %>
                <td align="center">
                  <% if actions.include?(:show) %>
                    <%= link_to object, class: 'btn amber darken-4', title:'Exibir todas as informações' do %>
                      <i class="material-icons">receipt</i>
                    <% end %>
                  <% end %>
                  <% if actions.include?(:edit) %>
                    <%= link_to [:edit, object], class: 'btn blue', title:'Editar' do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                  <% end %>
                  <% if actions.include?(:delete) %>
                    <%= render 'layouts/helpers/delete', object: object, identification: delete_identification %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>

