<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="turbolinks-visit-control" content="reload">
    <title>Base</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
  <body class="grey lighten-2">
		<%= render 'layouts/main_header' %>
		<%= render 'layouts/main_sidebar' %>
		<main>
			<div class="container">
				<%= yield %>
				<!-- <h1 class="center">Dual sidebars</h1>
				<p class="flow-text">Don't forget to hit the like button if you found this useful.</p>
				<p>
					On an ultra wide screen (21:9), you may want to have the second sidebar of a dual sidebar setup in Materialize become visible automatically. This method will allow you to do that. The second sidebar behaves like a mobile sidebar until the window is wide enough that it could obviously safely accomodate it in it's fixed state. The class <strong>.sidebar-fixed</strong> is added via Javascript.
				</p>
				<p>
					To see this in action resize your window on a very wide screeen. (The breakpoint is set for 1925px).
				</p>
				<p class="center">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/BDlhSNAuHw8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</p> -->
			</div>
		</main>

		<!-- Gitter Chat Link -->
		<!-- <div class="fixed-action-btn"><a class="btn-floating btn-large red" href="https://gitter.im/Dogfalo/materialize" target="_blank"><i class="large material-icons">chat</i></a></div> -->
  </body>
</html>
